.campo_maior {
  font-weight: bold;
  text-align: center;
  width: 38.5%;
  margin-left: 2rem;
  float: left;
}

form {
  margin-left: 100px;
  margin-top: 50px;
}

.campo_menor {
  width: 25%;
  font-weight: bold;
  margin-left: 2rem;
}

h1 {
  color:  blue;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 50px;
  margin-top: 50px;
}

button {
  padding: 0 50px;
  margin-left: 50px;
}

.buttons {
  margin-left: 800px;
}

body {
  background-color: white;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .campo_maior {
    width: 85%;
  }

  h1 {
    font-size: 20px;
  }

  form {
    margin-left: 10px;
    margin-top: 20px;
  }

  .campo_menor {
    width: 85%;
  }
  .buttons {
    margin: 0 5px;
    margin-bottom: 50px;
    height: 100px;
  }

  button {
    margin-top: 5px;
    width: 70%;
    align-items: center;
  }

}
