<body>
  <p>
    Sistema Desenvolvido Por Firmino Andrade<br /><br />
    Sistema de Cadastramento de informações de clientes<br /><br /><br /><br />

    FERRAMENTAS PARA DESENVOLVIMENTO<br /><br /><br />
    Front-end: Angular, typeScript, HTML e CSS;<br /><br />
    Back-end: JAVA com Spring Boot;<br /><br />
    Banco de Dados: MYSQL.<br /><br /><br /><br />

    DEPLOY<br /><br /><br />
    Front-end: Vercel;<br /><br />
    Back-end: Heroku;<br /><br />
    Banco de Dados: Railway.<br /><br />

    Data de Conclusão: 27/12/2023<br /><br />
    Versão: 1.0.0<br /><br />
  </p>
</body>
